footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin: 4rem auto;
    border-radius: 2rem;

}

.faheem__logo {
    font-size: 1.5rem;
    color: var(--color-bg-variant);
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1.5rem;
    margin: 0 auto 2rem;
    
}

.permalinks li a {
    color: var(--color-white);
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    border:  1px solid transparent;
}

.footer__socials a:hover {
    color: var(--color-primary);
}

.footer__copyright {
    margin-bottom: 5rem;
    color: var(--color-bg-variant);
}


/* ======Media query style {small device} start here ======== */

@media screen and (max-width:600px) {

    footer {
        width: var(--container-width-sm);
    }

    .permalinks {
     flex-direction: column;
     gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.5rem;
    }
    
}